In [4]:
from sklearn import datasets
data = datasets.load_boston()
print(data.DESCR)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [5]:
data.data, data.feature_names

(array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'))

In [6]:
import pandas as pd
df = pd.DataFrame(data.data, columns=data.feature_names)

In [7]:
target = pd.DataFrame(data.target, columns=["MEDV"])

In [8]:
target

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
5    28.7
6    22.9
7    27.1
8    16.5
9    18.9
10   15.0
11   18.9
12   21.7
13   20.4
14   18.2
15   19.9
16   23.1
17   17.5
18   20.2
19   18.2
20   13.6
21   19.6
22   15.2
23   14.5
24   15.6
25   13.9
26   16.6
27   14.8
28   18.4
29   21.0
..    ...
476  16.7
477  12.0
478  14.6
479  21.4
480  23.0
481  23.7
482  25.0
483  21.8
484  20.6
485  21.2
486  19.1
487  20.6
488  15.2
489   7.0
490   8.1
491  13.6
492  20.1
493  21.8
494  24.5
495  23.1
496  19.7
497  18.3
498  21.2
499  17.5
500  16.8
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [9]:
import statsmodels.api as sm

In [10]:
x = df[["RM"]]
y = target["MEDV"]

In [12]:
model = sm.OLS(y, x, hasconst = False).fit()

In [14]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.901
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     4615.
Date:                Mon, 30 Jul 2018   Prob (F-statistic):          3.74e-256
Time:                        21:04:37   Log-Likelihood:                -1747.1
No. Observations:                 506   AIC:                             3496.
Df Residuals:                     505   BIC:                             3500.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
RM             3.6534      0.054     67.930      0.000       3.548       3.759
==============================================================================
Omnibus:                       83.295   Durbin-Watson:                   0.493
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              152.507
Skew:                           0.955   Prob(JB):                     7.65e-34
Kurtosis:                       4.894   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
y_pred=model.predict(x)

In [16]:
compare = pd.DataFrame({"y":y, "y_pred":y_pred})

In [17]:
compare

        y     y_pred
0    24.0  24.020779
1    21.6  23.458163
2    34.7  26.249323
3    33.4  25.566146
4    36.2  26.110495
5    28.7  23.491043
6    22.9  21.963943
7    27.1  22.548479
8    16.5  20.572016
9    18.9  21.934716
10   15.0  23.297416
11   18.9  21.952983
12   21.7  21.514581
13   20.4  21.733782
14   18.2  22.270824
15   19.9  21.313646
16   23.1  21.682635
17   17.5  21.883569
18   20.2  19.932680
19   18.2  20.922738
20   13.6  20.349162
21   19.6  21.792235
22   15.2  22.438878
23   14.5  21.236926
24   15.6  21.642448
25   13.9  20.455109
26   16.6  21.236926
27   14.8  22.091810
28   18.4  23.728511
29   21.0  24.382461
..    ...        ...
476  16.7  23.688324
477  12.0  19.377371
478  14.6  22.595972
479  21.4  22.756720
480  23.0  22.804213
481  23.7  24.660115
482  25.0  25.796307
483  21.8  21.050605
484  20.6  21.448820
485  21.2  23.059948
486  19.1  22.336584
487  20.6  21.573034
488  15.2  19.925373
489   7.0  19.779239
490   8.1  18.606514
491  13.6  21.857995
492  20.1  21.857995
493  21.8  20.849671
494  24.5  21.649754
495  23.1  20.714497
496  19.7  19.691559
497  18.3  21.167512
498  21.2  21.989516
499  17.5  20.345508
500  16.8  22.018743
501  22.4  24.086539
502  20.6  22.358504
503  23.9  25.485772
504  22.0  24.820863
505  11.9  22.029703

[506 rows x 2 columns]

In [18]:
compare[100:120]

        y     y_pred
100  27.5  24.576088
101  26.5  24.773369
102  18.6  23.399709
103  19.3  22.420611
104  20.1  22.530212
105  19.5  21.375753
106  19.5  21.320953
107  20.4  22.384078
108  19.8  23.651790
109  19.4  22.756720
110  21.7  22.632506
111  22.8  24.532248
112  18.8  21.602261
113  18.7  22.256211
114  18.5  22.848053
115  18.3  21.657061
116  21.2  22.563092
117  19.2  21.996823
118  20.4  21.452474
119  19.3  20.937351